@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

$fonts:  'Open Sans', sans-serif;
$kodilla-grey: #7d7d7b;
$kodilla-black: #000;
$kodilla-white: #fff;
$kodilla-green: #609732;
$kodilla-fairred: #AA5939;
$kodilla-cherry: #983352;

.mpzero {
    margin: 0;
    padding: 0;    
}

.center {
    text-align: center;
    font: 20px $fonts;
    width: 40%;
    margin: 0 auto;
}

.each {
    text-align: center;
    font: 20px $fonts;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 100% $fonts;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

@media (max-width: 767px){
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media (min-width: 768px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

nav {
    background-color: $kodilla-grey;

    ul {
        @extend .mpzero;
        list-style-type: none;
        float: right;
    }
    
    li {
        display: inline-block;    
    }
    
    a {
        line-height: 34px;
        padding: 0 20px;
        color: $kodilla-white;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            background-color: $kodilla-fairred;
            color: $kodilla-white;
        }
    }
}

.title {
    @extend .each;
    padding-top: 20px;
}

.first {
    color: $kodilla-green;
    @extend .center;
} 

.second {
    color: $kodilla-fairred;
    @extend .center;
    
    p:first-child {
        padding-bottom: 16px;    
    }
}

.third {
    color: $kodilla-cherry;
    @extend .center;
}

.socialmedia {
    @extend .each;
    padding: 12px;
}

.socialmedia {
    margin: 0;

    i {
        text-align: center;
        background-color: $kodilla-green;
        width: 13%;
        padding: 2px;
        display: inline-block;
        font-size: 28px;
        color: $kodilla-white;
        cursor: pointer;
        margin: 0 1px;
    }
}

[class*="col-"] .small {
    height: 60px;
    padding: 0;
}

footer {
    background-color: $kodilla-grey;
}

.footer {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.copyright {
    background-color: $kodilla-black;
    @extend .mpzero;
}

.copyright p {
    @extend .mpzero;
    opacity: 0.8;
    color: $kodilla-white;
    text-align: center;
}

@media(max-width: 767px) and (orientation: portrait) {
    nav {
        background-color: $kodilla-grey;
        display: block;
        text-align: center;

        li {
            display: block;
            text-align: center;
            padding: 0 10px;
        }
    
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            float: none;
        }
    
        a {
            line-height: 34px;
            padding: 0;
            color: $kodilla-white;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            &:hover {
                background-color: $kodilla-grey;
                color: $kodilla-white;
            }
        }
    }
    
    .center {
    text-align: center;
    font: 20px $fonts;
    width: 80%;
    margin: 0 auto;
    }
}    
@media(min-width: 767px) and (max-width: 1199px) {
    nav {
        li {
            display: inline-block;
            padding: 0 10px;
        }
    
        a {
            line-height: 34px;
            padding: 0;
            color: $kodilla-white;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    
    [class*="col-"] .small {
        height: 60px;
        padding: 0;
        text-align: left;
        overflow: hidden;
        font-size: 13px;
    }
}
